@media {
    body {
        overflow: hidden;
    }
}

@media (prefers-color-scheme: dark) {
    body[theme="auto"] {
        background: #0f0f0f;
        color: #f0f0f0;
    }
}

@media {
    .body-main {
        box-sizing: border-box;
        display: flex;
        flex: 1;
        max-width: calc(100% - 320px);
        height: calc(100% - 50px);
    }

    @media (max-width: 1024px) {
        .body-main {
            box-sizing: border-box;
            display: flex;
            flex: 1;
            max-width: 100%;
            width: calc(100% - 0px);
            height: calc(100% - 50px);
        }
    }

    .body-main > page {
        display: flex;
        height: 100%;
        width: 100%;
    }
}

@media {
    body > .body-header {
        box-sizing: border-box;
        height: 50px;
        line-height: 50px;
        position: relative;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    @media (prefers-color-scheme: dark) {
        body > .body-header {
            content: '';
        }
    }

    body > .body-header > row {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    body > .body-header card:last-child {
        height: 100%;
        padding: 0 10px;
    }

    body > .body-header .card-branding > flex {
        align-items: center;
        font-weight: bolder;
        justify-content: center;
    }

    body > .body-header .card-branding picture {
        display: inline-flex;
        height: 20px;
        opacity: calc(5/6);
        width: 20px;
    }

    @media (prefers-color-scheme: dark) {
        body[theme="auto"] > .body-header .card-branding picture {
            filter: invert(1);
        }
    }

    body > .body-header .card-branding picture + text {
        margin-left: 1px;
        margin-right: 2px;
        opacity: calc(5/6);
    }

    body > .body-header .card-branding picture + text + text {
        color: #fe0000;
    }
    
    body > .body-header .card-buttons {
        color: #111;
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    @media (prefers-color-scheme: dark) {
        body > .body-header .card-buttons {
            color: #fff;
        }
    }

    body > .body-header .card-buttons .box-avatar {
        background: rgba(0,0,0,calc(5/6));
        border-radius: 50%;
        box-shadow: 0 0px 1pc rgba(0,0,0,0.5);
        height: 30px;
        margin: 10px;
        overflow: hidden;
        position: relative;
        width: 30px;
    }

    body[auth] > .body-header .card-buttons .box-avatar picture:empty + picture {
        display: none;
    }

    body[auth] > .body-header .card-buttons .box-avatar picture img {
        bottom: 0;
        height: 100%;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        width: 100%;
    }

    body:not([auth]) > .body-header .card-buttons .box-avatar picture:not(:empty) + picture {
        display: none;
    }

    body:not([auth]) > .body-header .card-buttons .box-avatar picture + picture img {
        bottom: 0;
        filter: invert(1);
        height: 80%;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        width: 75%;
    }

    body > .body-header .card-buttons .box-create {
        opacity: calc(5/6);
    }

    body > .body-header .card-buttons .box-create i {
        width: 50px;
    }

    body > .body-header .card-buttons .box-navi {
        opacity: calc(5/6);
    }

    body > .body-header .card-buttons .box-navi i {
        width: 50px;
    }
}
